* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  overflow: hidden;
}

/* SKY */
.sky {
  height: 100vh;
  width: 100%;
  background: linear-gradient(#6ec6ff, #c2f0ff);
  position: relative;
}

/* SUN */
.sun {
  position: absolute;
  top: 50px;
  right: 80px;
  width: 90px;
  height: 90px;
  background: radial-gradient(circle, #ffeb3b, #ff9800);
  border-radius: 50%;
}

/* CLOUDS */
.cloud {
  position: absolute;
  width: 140px;
  height: 50px;
  background: #fff;
  border-radius: 30px;
}

.cloud::before,
.cloud::after {
  content: "";
  position: absolute;
  background: #fff;
  border-radius: 50%;
}

.cloud::before {
  width: 60px;
  height: 60px;
  top: -30px;
  left: 20px;
}

.cloud::after {
  width: 70px;
  height: 70px;
  top: -40px;
  right: 20px;
}

.cloud1 {
  top: 120px;
  animation: moveCloud 40s linear infinite;
}

.cloud2 {
  top: 200px;
  animation: moveCloud 60s linear infinite;
}

@keyframes moveCloud {
  from { left: -200px; }
  to { left: 110%; }
}

/* KITES */
.kite {
  position: absolute;
  width: 50px;
  height: 50px;
  background: red;
  transform: rotate(45deg);
  animation: fly 6s ease-in-out infinite alternate;
}

.kite::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 80px;
  background: #555;
  top: 50px;
  left: 50%;
}

.kite1 {
  top: 300px;
  left: 100px;
  background: #ff1744;
}

.kite2 {
  top: 350px;
  left: 300px;
  background: #00e676;
  animation-duration: 8s;
}

.kite3 {
  top: 250px;
  left: 550px;
  background: #2979ff;
  animation-duration: 7s;
}

@keyframes fly {
  0% {
    transform: translateY(0) rotate(45deg);
  }
  100% {
    transform: translateY(-120px) rotate(45deg);
  }
}

/* TEXT */
h1 {
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color: #ff5722;
  text-shadow: 2px 2px #fff;
}
